/* Styling for images */
img {
    width: 100%; /* Full width of the container */
    max-height: 300px; /* Set the max height */
    object-fit: cover; /* Preserve aspect ratio */
    margin-top: 0;
}

/* Styling for the main header */
h1 {
    font-family: 'Lobster', cursive;
    color: #432818;
    font-size: 5rem;
    margin-bottom: 1rem;
    background-color: #BB9457;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin-top: 5px;
    position: relative;
}

/* Body styling */
body {
    background-color: #FFE6A7;
    font-family: 'Quicksand', sans-serif;
    color: #6F1D1B;
    margin: 0;
    padding: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Main section for introductory text */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-align: center;
    font-size: 180%;
    margin: 20px;
}

/* Button styling */
.btn {
    display: inline-block;
    padding: 12px 50px;
    background-color: #BB9457;
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.btn:hover {
    background-color: #99582A;
}

/* General paragraph text styling */
p {
    font-family: 'Quicksand', sans-serif;
    color: #6F1D1B;
    font-size: 100%;
    margin: 0;
}

/* Styling for blog post titles */
.title-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

/* Styling for blog post descriptions */
.description-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 90px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

/* Styling for the second image */
.toinen-kuva {
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    display: block;
}
